#bandeau_haut{
    border: thick magenta;
    display: flex;
    align-items: center;

}
    
h1{
    border: thick green;
    text-align: left;
    flex-grow: 1;
}
#logo{
    border: thick red;
    text-align: right;
    flex-grow: 1;
    .full{
    width:15%;
    height: auto;
}
}

section {
    border: thick black;
    display: flex;
    align-items: center;
}

#filtres {
    border: thick black;
    width: 350px;   
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) solid; /* Ombre douce */

}




#image {
    border : thick red;
    .full {
    width: 95%;
    height: auto;
}
}