#titre {
    border: thick magenta solid;
}

section {
    border: thick black solid;
    display: flex;
    align-items: center;
}

#filtres {
    border: thick green solid;
}

#image{
    border : thick red solid;
}