#bandeau_haut{

    display: flex;
    align-items: center;

}

h1{

    text-align: left;
    flex-grow: 1;
}

#logo{

    text-align: right;
    flex-grow: 1;
}

section{

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

#annonce{

    img{
        width: 300px;
        height: 250px;
        align-items: left;
    }

    display: flex;
    align-items: center;


    border-radius: 1em;

    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);

    min-width: 40%;
    width: 40%;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#annonce:hover {
     transform:scale(1.1);
}

